{% extends "base.html" %}
{% block title %}Регистрация{% endblock %}
{% block content %}
<h1 class="h4 mb-3">Регистрация</h1>
<form method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <div class="mb-2">
    <label>Email</label>
    {{ form.email }}
    {{ form.email.errors }}
  </div>
  <div class="mb-2">
    <label>Пароль</label>
    {{ form.password1 }}
    {{ form.password1.errors }}
  </div>
  <div class="mb-3">
    <label>Повторите пароль</label>
    {{ form.password2 }}
    {{ form.password2.errors }}
  </div>
  <button class="btn btn-warning text-dark fw-semibold">Зарегистрироваться</button>
</form>
{% endblock %}
